* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    padding: 0px 5px;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #3882f6;
}

input[type=text]:focus {
    outline: none;
}

button {
    color: white;
    font-size: 30px;
    padding: 5px 15px;
    border-color: #3882f6;
    border-radius: 15px;
    background-color: #3882f6;
}

.apply {
    margin-right: auto;
}

#grid {
    width: 870px;
    height: 870px;
    display: flex;
    flex-wrap: wrap;
}

.grid-elem {
    border: 1px solid black;
}

#button-holder {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 10px 0px;
    width: 870px;
}

.clicked {
    background-color: #FDFD96;
    border-color: #FDFD96;
    color: black;
}