* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

input {
    padding: 0px 5px;
    font-size: 22px;
    border: none;
    border-bottom: 4px solid #3882f6;
}

input[type=text] {
    width: 70%;
}

input:focus {
    outline: none;
}

button {
    color: white;
    font-size: 30px;
    padding: 5px 15px;
    border-color: #3882f6;
    border-radius: 15px;
    background-color: #3882f6;
}

#grid {
    width: 870px;
    height: 870px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

#button-holder {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10px 0px;
    width: 470px;
    border: 1px solid black;
    padding: 30px;
    justify-content: space-between;
    align-items: stretch;
}

.clicked {
    background-color: #FDFD96;
    border-color: #FDFD96;
    color: black;
}

.row-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-holder {
    display: flex;
    justify-content: start;
}

.color {
    width: 60%;
    margin-right: auto;
}

#val1 {
    width: 30%;
}